---
import { ProductList } from "@/components/products/ProductList";
import MainLayout from "@/layouts/MainLayout.astro";
import { actions } from "astro:actions";
import Pagination from "@/components/shared/Pagination.astro";

const searchParams = Astro.url.searchParams;
const pageParam = Number(searchParams.get("page") ?? 1);

const { data, error } = await Astro.callAction(actions.getProductsByPage, {
  page: pageParam,
});

if (error) {
  return Astro.redirect("/");
}

const { products, totalPages } = data;

if (products.length === 0) {
  return Astro.redirect(`/?page=${pageParam}`);
}
---

<MainLayout>
  <h1 class="text-3xl">Listado de productos</h1>
  <ProductList products={products} client:load />
  <Pagination totalPages={totalPages} />
</MainLayout>
