---
import MainLayout from "@/layouts/MainLayout.astro";

import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

const { user } = session ?? {};
---

<MainLayout>
  <h1 class="text-3xl">Home Page</h1>

  <pre>
    <code>{JSON.stringify(user, null, 2)}</code>
  </pre>
</MainLayout>

<style>
  pre > code {
    display: block;
    background-color: #f4f4f4; /* Light gray background */
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: auto; /* Add horizontal scroll for long lines */
    font-family: monospace;
    font-size: 0.9em;
    color: #333; /* Darker text color */
  }
</style>
